layout {

  default_tab_template {
       // the default zellij tab-bar and status bar plugins
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }

  tab name="Main" {
      pane split_direction="vertical" {
          pane size="60%" {
              name "Dev"
              command "dvim"
              focus true
            }
          pane split_direction="horizontal" size="40%"{
              pane size="80%" {
                  name "neodev"
                  command "just"
                  args "attach"
                  start_suspended true
                }
              pane size="20%" {
                  name "term"
                }
          }
      }
  }
}

